#menu{
    list-style-type: none;
}

main{
    display: flex;
    flex-direction: column;
}
section{
    display: flex;
    flex-direction: column;
    margin: 5 10 30 5;
}
div{
    margin: 5 10 30 5;
    line-height: 2px;
}