#header{
    background-color: aqua;
}


main{
    display: flex;
    flex-direction: column;
}

#menu {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}
#cover {
    height: 600px;
    width: 100%;
    background: url(images/cover-cake.jpg) center center/cover;
    position: relative;
    z-index: -1;
}
#cakes>div{
    width: 700px;
    height: 150px;
    display: flexbox;
    margin: 5px orange;
    color: aqua;
    background-color: black;
    
}
#cakes{
    padding: 10px 10px;
}